/* Header */
.sfondohead {
height: 100px;
background-color: lightskyblue;
background-image: url("pattern.png");
}

.logo {
width: 15%;
}
/*Fine Header*/

/*Main*/

/*div1*/
h1 {
    font-size: 50px;
}

.scrittoda {
    color: grey;
    margin-bottom: 2%;
}

.boolean {
    color: blue;
}
/*fine div1*/


.fototesto {
    font-size:small;
}

.evidenziato {
    background-color: yellow;
}


/*tabella*/
.tabellahead {
    background-color: blue;
    color: white;
}

.riga {
    background-color: turquoise;
}
/*fine tabella*/

/*immagini*/
.finalfoto1 {
    background-image: url("monitor.jpg");
}
