/* Header */
.sfondohead {
height: 100px;
background-color: #1C9DF7;
background-image: url("pattern.png");
}

.logo {
width: 15%;
margin-top: 30px;
}
/*Fine Header*/



/*div1*/
h1 {
    font-size: 50px;
}

.scrittoda {
    color: grey;
    margin-bottom: 2%;
}

.boolean {
    color: blue;
}
/*fine div1*/



.fototesto {
    font-size:small;
}

.evidenziato {
    background-color: yellow;
}


/*tabella*/
.tabellahead {
    background-color: #05CBFC;
    color: white;
}

.riga {
    background-color: #8FFBFA ;
}
/*fine tabella*/


/*immagini*/
.finalfoto1 {
    background-image: url
}

